body {
  padding: .08rem .08rem;
  min-width: 120px;
}
a {
  line-height: .26rem;
  color: rgb(51, 102, 204);
  text-decoration: none;
  display: block;
}a:hover {
  text-decoration: underline;
}

.icon-link {
  /*background: no-repeat 0 .04rem;*/
  background: no-repeat 0 .04rem;
  background-size: 16px 16px;
  text-indent: .2rem;
}
.engine > a:nth-child(1) {
  line-height: .36rem;
  background-position-y: .1rem;
}

input {
  width: 100%;
  line-height: .2rem;
}

.setting {
  font-size: .14rem;
  background-image: url('chrome://favicon/size/16@1x/chrome://settings/');
}
