body {
  padding: .08rem .08rem;
}
.engines {
  min-width:2.66rem;
  margin: .08rem 0;
}
.engines ul {
  width: 1.30rem;
  margin: 0 .04rem .08rem 0;
  padding: .08rem;
  border: .01rem solid lightblue;
  border-radius: .04rem;
  overflow-x: hidden;
  list-style-type: none;
}
.engines ul>.type {font-weight: bold}
.icon-link {
  cursor: pointer;
  display: block;
  text-indent: .2rem;
  text-decoration: none;
  line-height: .26rem;
  background: no-repeat 0 .04rem;
  background-size: 16px 16px;
  color: rgb(51, 102, 204); }
.icon-link:hover {
  text-decoration: underline;}

input {
  width: 100%;
  line-height: .2rem;
  border: .01rem solid gray;
  border-radius: .02rem;
}

.setting {
  font-size: .14rem;
  background-image: url('chrome://favicon/size/16@1x/chrome://settings');
}
