body {
  width: 100%;
  height: 100%;
  background: #fff;
}
.content {
  width: 670px;
  margin: 0 auto;
  padding: .10rem .40rem .10rem;
  background: #fff;
}

.heading {
  padding: 0 0 .10rem;
  border-bottom: .01rem dashed #999;
}
.heading img, .heading h1 {
  display: inline;
  vertical-align: middle;
}

#options {
  margin: .10rem 0 .14rem;
  border-bottom: .01rem dashed #999;
}
#options p {
  margin-top: 0;
  line-height: 1.5;
}

.icon-link {
  cursor: pointer;
  display: block;
  text-indent: .2rem;
  text-decoration: none;
  background: no-repeat 0 .1rem;
  background-size: 16px 16px;
  line-height:.36rem;}

.about {
  text-align: right;
  line-height: 20px;
  font-size: 10px;
}