body {
  padding: .08rem .08rem;
}
.engines {
  min-width:2.66rem;
  margin: .08rem 0;
}
.engines ul {
  width: 1.30rem;
  margin: 0 .04rem .08rem 0;
  padding: .08rem;
  border: .01rem solid lightblue;
  border-radius: .04rem;
  overflow-x: hidden;
  list-style-type: none;
}
.engines ul li {
  white-space: nowrap;
}
.engines ul>.type {font-weight: bold}
.engines__item {
  cursor: pointer;
  display: block;
  text-indent: .2rem;
  text-decoration: none;
  line-height: .26rem;
  background: no-repeat 0 .04rem;
  background-size: 16px 16px;
  color: rgb(51, 102, 204); }
.engines__item:hover {
  text-decoration: underline;}
.engines__item--default {
  outline: 1px solid cadetblue;
}

.searchBox__input {
  width: 100%;
  line-height: .2rem;
  border: .01rem solid gray;
  border-radius: .02rem;
  background: transparent;
}

.searchBox {position: relative}
.searchBox__translation {
  display: inline-block;
  position: absolute;
  min-height: .24rem;
  padding: 0 .6em;
  margin: .05rem 0 0 0;
  border-radius: 4px;
  background-size: 16px 16px;
  background: rgba(0, 0, 0, 0.66) no-repeat 0 .04rem;
  color: white;
  z-index: 1;
}
.searchBox__translation--hide {
  display: none;
}
.searchBox__translation img {
  width: 1em;
  height: 1em;
  margin-right: .4em;
  border-style: none;
  vertical-align: text-bottom;
}
.searchBox__translation:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 1em;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.66) ;
}
.searchBox__tip {
  position: absolute;
  color: rgba(153, 153, 153, 0.5);
  top: 0;
  right: .04rem;
  z-index: -1;
}

.setting {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: .14rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAZZJREFUOBGtkjtIA0EQhu+iYKeNREglQnyQC9pYayEIFlaGXAKCNkIqG0GIYGMhirWFjYWSB9ZpcoXYCBYB4U6LHGgaUYO9RSDnN2tWrjhR0IHZnZn///c1axh/NPMbvZnP51/A4oIHQXBYLpe3o7ixqGImk0lQV2LBTdOcieIpTAO2bR9DHCC/wAvEyxrjBO/4Lvkr9bVut3tQrVbrgqsrIJ6PxWKXWvDTzGJNzGo0Gh11BcRHEaI2xFO8hgdhnFOMJ5PJDan194AzONMAKiduUZ/l4d4E54QrYHI1bQ9wriTpk8F13Zt0Ot2BtCA5to/Y+QwNw/O8e8uybPBhqSGeqlQqjxJHdkGA35pagJ5vItgLiQq5XE7tJrXeFSY1zkmus9msJbl+g1WKOpa+j4LdsUiNWf7DEh62MThzFDwloq9bEW2MQ1oPq3TMGzR93z+RXD0ij9RKpVIj5C5exAcRTzArQyAfqYifUxhiwx3HcXwB1UdSrNDAnROc6ClUqpdKpcVQ/hVGdoEWPcNoaxY73+r43+cPzGyUUc40y+cAAAAASUVORK5CYII=');
}