{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 51
      }
    }]
  ],
  "plugins":  [
    ["transform-class-properties"],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": false
    }]
  ]
}