{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 51
      }
    }]
  ],
  "plugins":  [
    ["transform-class-properties"],
    ["transform-runtime", {
      "helpers": false, // defaults to true
      "polyfill": false, // defaults to true
      "regenerator": false // defaults to true
      // "moduleName": "babel-runtime" // defaults to "babel-runtime"
    }]
  ]
}