/* base.css */
html {
  font-size: 625%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font: 400 .14rem/1.7 'Segoe UI','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei','Hiragino Sans GB',STHeiti,SimHei,SimSun,sans-serif;
  color: #333;
  background-color: #fff;
}
input[type=checkbox] {
  width: .14rem; height: .14rem;
  margin-right: .06rem;
  vertical-align: sub;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.hide {
  display: none;
}
.disable {
  color: #aaa !important;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}